.main{
  display:flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
align-items: center;
border:5px solid rgb(3, 115, 163);
background-color: rgb(193, 217, 236);
margin:100px 500px;
border-radius: 20px ;
width: 500px;
color: rgb(111, 111, 249);
}

.app-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 30vh;
  font-family: Arial, sans-serif;
  font-size: 20px;
 
  /* height: 25%; */
   
}

.input-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 600px;
  gap:50px;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 45%;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.btn2{
margin-left: -80px;
border-radius: 10px;
height: 50px;
padding:5px;
background-color: rgb(92, 186, 10);
color:aliceblue;
font-weight: bold;
border:2px solid white;
width: 100px;
}
.btn1{
  margin-right: -80px;
  padding:5px;
  border-radius: 10px;
  background-color: rgb(92, 186, 10);
  color:aliceblue;
  font-weight: bold;
  border:2px solid white;
width: 100px;
height: 50px;
}